<%= form_with local: true, model: @group, class: "form-row ml-3 mt-4"  do |f| %>
  <%= label_tag :name, 'Name', class: "col-form-label"%>
  <div class="col col-auto">
    <%= f.text_field :name, class: 'form-control' %>
    <% if @errors && @errors[:name].any? %>
      <small id="loginerror" class="form-text text-danger"><%= @errors[:name].first %></small>
    <% end %>
  </div>
  
  <%= label_tag :form, 'Form', class: "col-form-label mr-1"%>
  <%= f.select :form, options_for_select([['Poetry'], ['Fiction'], ['Non-Fiction']]), class: "col col-auto" %>

  <%= label_tag :alias, 'Alias', class: "col-form-label mr-1 ml-1"%>
  <div class="col col-auto">
    <%= text_field :user_group, :alias, class: 'form-control' %>
  </div>

  <div class="col col-auto ml-2">
    <%= f.submit "Create Group", class: "btn btn-primary" %>
  </div>
<% end %>