
<nav style="float: left; padding-bottom: 100%;" class="navbar navbar-dark bg-secondary mb-4 d-inline-block">
  <ul class="navbar-nav flex-column">

    <a class="navbar-brand text-light">Alias: <%= @user_group.alias %></a>
    <% if @featured_piece.id && @user_group.piece_id == @featured_piece.id %>
      <li class="nav-item active ml-4">
        <a class='nav-link'>Selected Piece: <%= @featured_piece.title %></a>
      </li>
    <% else %>
      <%= form_with model: [@group, @user_group] do |f| %>
        <li class="nav-item active">
          <a class='nav-link'>
            Selected Piece: <%= f.select :piece_id, options_for_select(@current_user.pieces.where(form: @group.form).collect{ |piece| [piece.title, piece.id] }, @user_group.piece_id) %>
          </a>
        </li>
        <%= f.submit "Change Piece", class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <a class="navbar-brand text-light">Members: </a>
    <% @user_groups.each do |member| %>
      <li class="nav-item active ml-4">
        <a class='nav-link'> <%= member.alias %></a>
      </li>
    <% end %>
    <% if @user_group.moderator_status == true  %>
      <%= button_to 'Next Piece', group_path(@group), method: :patch, params: { group: { point_in_cycle: @group.point_in_cycle + 1 } }, class: "btn btn-success mt-2" %>
    <% end %>
    <%= button_to 'Leave Group', "/groups/#{@group.id}/user_groups/#{@user_group.id}", class: "btn btn-danger mt-2", method: :delete %>
  </ul>
</nav>



<h1 class="display-3 text-center"><%= @group.name %></h1>
<div>
<% if @featured_piece.id %>
  <h2 class="text-center"><%= @featured_piece.alias%>'s Piece: </h2>

  <div style="width: 800px;" class="card mx-auto my-4">
    <div class="card-header">
      <h1 class='display-4 d-inline-block'><%= @featured_piece.title %></h1>
      <h3 class='d-inline-block ml-4'>(<%= @featured_piece.form %>)</h3>
    </div>

    <div class="card-body">
      <p style="white-space: pre; white-space: pre-wrap;" class='mb-0 lead'><%= @featured_piece.content %></p>
    </div>
  </div>
  
  
  <% @featured_piece.comments.where(group_id: @group.id).each do |comment| %>
    <div style="width: 800px;" class="card mx-auto my-4">
      <div class="card-header">
        <h2 class='d-inline-block mb-n5 mt-n1'><%= comment.author_alias %> said,</h2>
        <% if comment.user_id == @current_user.id %>
          <div style="float: right;">
            <%= form_with class: 'form-inline d-inline-block ml-2 mr-n2', url: group_comment_path(@group, comment), method: :delete do %>
              <button style="display: inline;" type="submit" class="btn btn-secondary my-n1">Delete</button>
            <% end %>
          </div>
          <form style="float: right;" class="form-inline d-inline-block" method="get" action=<%= edit_group_comment_path(@group, comment)%>>
            <button style="display: inline;" type="submit" class="btn btn-primary my-n1">Edit</button>
          </form>
        <% end %>
      </div>

      <div class="card-body">
        <p class='mb-0 form my-n2'><%= comment.content %></p>
      </div>
    </div>
  <% end %>

  <% if @featured_piece.user_id != @current_user.id %>
    <%= form_with model: [@group, Comment.new] do |f| %>
      <div class="form-row">
        <div class="col col-auto w-50 form-row mx-auto">
          <%= f.text_area :content, class: 'form-control mx-auto' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
        <%= f.submit 'Add Comment', class: "btn btn-primary mx-auto mt-3" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2 class="text-center mt-5">(<%= @featured_piece.alias %> hasn't selected their piece yet.)</h2>
<% end %>