<%= @group.name %>
<ul>
  <% @group.user_groups.each do |member| %>
    <li><%= member.alias %></li>
  <% end %>
</ul>


<% if @featured_piece && @user_group.piece_id == @featured_piece.id %>
  Selected Piece: <%= @featured_piece.title %>
  <% else %>
  <%= form_with model: [@group, @user_group] do |f| %>
    <%= f.select :piece_id, options_for_select(@current_user.pieces.collect{ |piece| [piece.title, piece.id] }, @user_group.piece_id) %>
    <%= f.submit "Select Piece" %>
  <% end %>
<% end %>

<%= button_to 'Leave Group', "/groups/#{@group.id}/user_groups/#{@user_group.id}", method: :delete %>

<% if @featured_piece %>
  <%= @featured_piece.title %>
  <%= @featured_piece.content %>

  <% if @featured_piece.user_id != @current_user.id %>
    <%= form_with model: [@group, Comment.new] do |f| %>
      <%= f.text_area :content %>
      <%= f.submit 'Add Comment' %>
    <% end %>
  <% end %>
<% end %>

<% if @user_group.moderator_status == true  %>
  <%= button_to 'Next Piece', group_path(@group), method: :patch, params: { group: { point_in_cycle: @group.point_in_cycle + 1 } } %>
<% end %>