<%= @user.username %>
<ul>
  <% @user.groups.each do |group| %>
    <li><a href=<%= group_path(group)%>><%= group.name %></a></li>
  <% end %>
</ul>

<ul>
  <% @user.pieces.each do |piece| %>
    <li><a href=<%= user_piece_path(@user, piece)%>><%= piece.title %></a></li>
    <%= button_to 'Edit', "/users/#{@user.id}/pieces/#{piece.id}/edit", method: :get %>
    <%= button_to 'Delete', "/users/#{@user.id}/pieces/#{piece.id}", method: :delete %>
  <% end %>
</ul>

<%= button_to 'Add Piece', "/users/#{@user.id}/pieces/new", method: :get %>