<div style="width: 800px;" class="card mx-auto my-4">
  <div class="card-header">
    <h1 class='display-4 d-inline-block'><%= @piece.title %></h1>
    <h3 class='d-inline-block ml-4'>(<%= @piece.form %>)</h3>

    <div style="float: right;">
      <%= form_with class: 'form-inline d-inline-block ml-2 mr-n2', url: "/users/#{@current_user.id}/pieces/#{@piece.id}", method: :delete do %>
        <button style="display: inline;" type="submit" class="btn btn-secondary">Delete</button>
      <% end %>
    </div>

    <form style="float: right;" class="form-inline d-inline-block" method="get" action="/users/<%= @current_user.id %>/pieces/<%= @piece.id %>/edit">
      <button style="display: inline;" type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>

  <div class="card-body">
    <p style="white-space: pre; white-space: pre-wrap;" class='mb-0'><%= @piece.content %></p>
  </div>
</div>