<!DOCTYPE html>
<html>
  <head>
    <title>GoodWrites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user %>
        Welcome, <%= @current_user.username %>
        <%= form_with url: '/login', method: 'delete' do %>
          <%= submit_tag 'Log Out' %>
        <% end %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
